/*  General Styling
/*-----------------------------------------------------------------------------------*/

body {
  background: #ffffff;
  color: #898989;
  font-family: 'Poppins', helvetica;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.02em;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h2 {
  color: #292929;
  font-weight: 600;
}

h4 {
  color: #292929;
  font-size: 14px;
  font-weight: 600;
}

a {
  color: #292929;
  text-decoration: none !important;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

a:hover {
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

a:hover, a:focus {
  color: #b8a07e;
  text-decoration: underline;
}

nav ul li a {
  padding: 2px 0 0 0;
  position: relative;
  display: block;
  font-size: 12px;
  color: #999999;
  letter-spacing: 0.1em;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

p {
  margin: 10px 0;
  padding: 0;
  font-size: 15px;
  color: #999999;
  line-height: 28px;
}

::-moz-selection {
  background: #b8a07e;
  color: #fff;
}

::selection {
  background: #b8a07e;
  color: #fff;
}

.btn {
  background: #333;
  border: medium none;
  border-radius: 0;
  color: #fff;
  font-size: 12px;
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
  text-transform: uppercase;
}

.btn:hover, .btn:focus {
  color: #fff;
}

.padDiv {
  padding: 30px 20px;
}

.section-title {
  margin-bottom: 70px;
}

.section-title h2 {
  font-size: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.form-control {
  background-color: transparent;
  border: 1px solid #999;
  border-radius: 0;
  color: #999999;
  font-size: 12px;
  font-weight: 500;
  height: 50px;
  letter-spacing: 0.1em;
  padding-left: 10px;
  margin: 0 0 25px 0;
  line-height: 14px;
  text-transform: uppercase;
}

.form-control:focus {
  box-shadow: none;
  outline: 0 none;
}

.paddsection {
  padding-top: 90px;
  padding-bottom: 90px;
}

.paddsections {
  padding-top: 90px;
  padding-bottom: 90px !important;
}

.hvr-shutter-in-horizontal::before {
  background: #333;
}

.hvr-shutter-in-horizontal:hover {
  background: #b8a07e;
}

.mb-30 {
  margin-bottom: 30px;
}

/*-----------------------------------------------------------------------------------*/
/*  Navbar Top
/*-----------------------------------------------------------------------------------*/

nav {
  position: fixed;
  background: #fff;
  z-index: 1000;
  width: 100%;
  padding: 20px;
  display: none;
  -webkit-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
}

.nav-menu {
  float: right;
  line-height: 32px;
  margin-bottom: 0;
  padding-top: 16px;
}

nav ul li {
  float: left;
  margin-right: 15px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  margin-left: 40px;
}

nav ul li a {
  padding: 2px 0 0 0;
  position: relative;
  display: block;
  font-size: 14px;
  color: #999999;
  font-family: 'Poppins', helvetica;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.logo {
  float: left;
}

.logo img {
  width: 100px;
  height: 50px;
}

.responsive {
  display: none;
  font-size: 23px;
}

.active {
  color: #afafaf;
}

.nav-menu li.lang-item {
  display: inline-block;
  margin-left: 15px;
  padding-left: 15px;
  border-left: 1px solid #ddd;
  line-height: 20px;
}

.nav-menu li.lang-item a {
  display: inline-block;
  padding: 0 3px;
  font-size: 13px;
  font-weight: 500;
  color: #666;
  transition: color 0.3s;
  text-decoration: none;
}

.nav-menu li.lang-item a:hover, 
.nav-menu li.lang-item a.active-lang {
  color: #b8a07e;
}

.lang-separator {
  color: #ccc;
  font-size: 12px;
  margin: 0 2px;
}

/*----------------------------------------------------------------------------------*/
/*  Header
/*-----------------------------------------------------------------------------------*/

#header {
  background: url("../images/home-bg.png") repeat scroll center center / cover;
  height: 100vh;
  width: 100%;
}


#header .header-content {
  height: 100vh;
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header-content h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 3px 3px 3px #111;
}

.header-content p {
  font-size: 13px;
  letter-spacing: 5px;
  margin-top: 0;
  margin-bottom: 30px;
  text-transform: capitalize;
  color: #fff;
  font-weight: 500;
  text-shadow: 3px 3px 3px #111;
}

.header-content .list-social li {
  float: left;
  margin-right: 20px;
  text-shadow: 3px 3px 3px #111;
}

.header-content .list-social li i {
  color: #fff;
  font-size: 30px;
}

.header-content .list-social li .ion-email:hover::after{
  content: 'wei50342@gmail.com';
  font-size: 20px;
  text-shadow: none;
  font-style: normal;
  font-weight: 500;
  color: #111;
  width: 260px;
  height: 50px;
  position: absolute;
  background-color: #fff;
  display: block;
  padding: 15px;
  border-radius: 5px;
}

/*-----------------------------------------------------------------------------------*/
/*  Aout-us
/*-----------------------------------------------------------------------------------*/

#about {
  width: 100%;
  height: auto;
  background: #f7f7f7;
  padding-top: 190px;
}

#about .div-img-bg {
  padding-bottom: 30px;
  margin-bottom: 25px;
  border: 20px solid #b8a07e;
}

#about .div-img-bg .about-img img {
  width: 100%;
  box-shadow: 0px 0px 85px 0px rgba(0, 0, 0, 0.14);
  margin-top: -60px;
  margin-left: 40px;
  height: 400px;
  object-fit: cover;
}

#about .about-descr{
  margin-bottom: 20px;
}

#about .about-descr .p-heading {
  font-size: 15px;
  text-align: left;
  margin: 10px 0;
  position: relative;
  color: #292929;
  letter-spacing: 0.1em;
  font-weight: 500;
  display: block;
}

#about .about-descr .separator {
  max-width: 80%;
  margin: 0;
  text-align: left;
}

/*-----------------------------------------------------------------------------------*/
/*   Work Experience
/*-----------------------------------------------------------------------------------*/

#work-experience {
  background: #f7f7f7;
  position: relative;
  padding-bottom: 80px;
}

#work-experience h3{
  padding-bottom: 20px;
}

.owl-item {
  float: left;
}
.work-experience-block span {
  margin: 10px 0;
  position: relative;
  font-size: 13px;
  color: #292929;
  letter-spacing: 0.1em;
  font-weight: 500;
  display: block;
}

.work-experience-block .separator {
  margin: 0;
  font-size: 13px;
  line-height: 22px;
}

.work-experience-block i {
  font-size: 44px;
  color: #b8a07e;
  line-height: 44px;
}

.work-experience-block .company-logo{
  width: 38px;
  height: 38px;
  border-radius: 5px;
}


.work-experience-carousel  .owl-stage-outer {
  overflow: hidden;
}

.work-experience-carousel .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.work-experience-carousel .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px !important;
  height: 12px !important;
  border-radius: 50%;
  border: 0;
  padding: 0 !important;
  background-color: #ddd;
  cursor: pointer;
}

.work-experience-carousel .owl-dot.active {
  background-color: #b8a07e;
}

.owl-nav {
  display: none;
}


/*-----------------------------------------------------------------------------------*/
/*  Skills
/*-----------------------------------------------------------------------------------*/

#skills {
  background: #e6e6e6;
  position: relative;
  padding-bottom: 50px;
}

#skills .skills-list {
  margin-bottom: 50px;
}

#skills .skills-list .nav {
  display: inline-block;
  margin: 0;
}

#skills .skills-list .nav li {
  float: left;
  font-size: 14px;
  color: #846e54;
  line-height: 16px;
  cursor: pointer;
  font-family: 'Poppins', helvetica;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  padding: 15px;
  margin: 10px;
  border: 2px solid;
  border-radius: 5px;
}

#skills .skills-list .nav li:hover, #skills .skills-list .nav li.filter-active  {
  color: #b0ca03;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

#skills .skills-container {
  display: inline-block;
  margin-bottom: 50px;
  width: 100%;
}

.skills-thumbnail {
  margin-bottom: 15px;
  overflow: hidden;
  min-height: 150px;
}

.skills-thumbnail img {
  max-width: 50%;
}

.progress-line{
  margin: 1em 0;
}

.progress-line .progress {
  height: 1rem;
}

.progress {
  font-size: 0.75em;
  line-height: 8em;
  text-align: center;
  background-color: #d6d9da;
  border-radius: 0.25rem;
}

/*-----------------------------------------------------------------------------------*/
/*   Work Experience Timeline
/*-----------------------------------------------------------------------------------*/
#work-experience-timeline {
  position: relative;
  padding-bottom: 80px;
}

#work-experience-timeline h3{
  padding: 20px 0px;
}

.main-timeline:after, .main-timeline:before {
  content: "";
  display: block;
  width: 100%;
  clear: both
}

.main-timeline:before {
  content: "";
  width: 3px;
  height: 100%;
  background: #302124;
  position: absolute;
  top: 0;
  left: 50%
}

.main-timeline .timeline {
  width: 50%;
  float: left;
  position: relative;
  z-index: 1
}

.main-timeline .timeline:after, .main-timeline .timeline:before {
  content: "";
  display: block;
  width: 100%;
  clear: both
}

.main-timeline .timeline:first-child:before, .main-timeline .timeline:last-child:before {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fff;
  border: 4px solid #cca872;
  position: absolute;
  top: 0;
  right: -14px;
  z-index: 1
}

.main-timeline .timeline:last-child:before {
  top: auto;
  bottom: 0
}

.main-timeline .timeline:last-child:nth-child(even):before {
  right: auto;
  left: -12px;
  bottom: -2px
}

.main-timeline .timeline-content {
  text-align: center;
  margin-top: 8px;
  position: relative;
  transition: all .3s ease 0s
}

.main-timeline .timeline-content:before {
  content: "";
  width: 100%;
  height: 5px;
  background: #cca872;
  position: absolute;
  top: 88px;
  left: 0;
  z-index: -1
}

.main-timeline .circle {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: #fff;
  border: 8px solid #cca872;
  float: left;
  margin-right: 25px;
  position: relative
}

.main-timeline .circle span:after, .main-timeline .circle span:before, .main-timeline .circle:before {
  content: "";
  margin: auto;
  position: absolute;
  right: -33px;
  bottom: 0;
  z-index: -1
}

.main-timeline .circle:before {
  width: 26px;
  height: 30px;
  background: #cca872;
  top: 0;
  box-shadow: inset 7px 0 9px -7px #444
}

.main-timeline .circle span {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  line-height: 160px;
  border: 3px solid #adabab;
  color: #454344
}

.main-timeline .brand span {
  font-size: 80px;
}


.main-timeline .circle span .company-logo{
  width: 60px;
  height: 60px;
  border-radius: 5px;
}

.main-timeline .circle span:after, .main-timeline .circle span:before {
  width: 28px;
  height: 50px;
  background: #fff;
  border-radius: 0 0 0 21px;
  top: -54px
}

.main-timeline .circle span:after {
  border-radius: 21px 0 0;
  top: 0;
  bottom: -56px
}

.main-timeline .content {
  display: table;
  padding-right: 40px;
  position: relative
}

.main-timeline .year {
  display: block;
  padding: 10px;
  margin: 10px 0 50px;
  background: #cca872;
  border-radius: 7px;
  font-size: 25px;
  color: #fff
}

.main-timeline .title {
  font-size: 25px;
  font-weight: 700;
  color: #cca872;
  margin-top: 0
}

.main-timeline .icon span:after, .main-timeline .icon span:before, .main-timeline .icon:before {
  content: "";
  height: 25px;
  margin: auto;
  position: absolute;
  bottom: 0;
  z-index: -1;
  left: -15px
}

.main-timeline .description {
  font-size: 14px;
  color: #a6a6a6;
  text-align: justify
}

.main-timeline .icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fff;
  border: 4px solid #cca872;
  position: absolute;
  top: 78px;
  right: -14px
}

.main-timeline .icon:before {
  width: 15px;
  background: #cca872;
  top: -1px
}

.main-timeline .icon span:after, .main-timeline .icon span:before {
  width: 21px;
  background: #fff;
  border-radius: 0 0 21px;
  top: -30px
}

.main-timeline .icon span:after {
  border-radius: 0 21px 0 0;
  top: 0;
  left: -15px;
  bottom: -30px
}

.main-timeline .timeline:nth-child(2n) .circle, .main-timeline .timeline:nth-child(2n) .timeline-content {
  float: right
}

.main-timeline .timeline:nth-child(2n) .circle {
  margin: 0 0 0 25px
}

.main-timeline .timeline:nth-child(2n) .circle:before {
  right: auto;
  left: -33px;
  box-shadow: -7px 0 9px -7px #444 inset
}

.main-timeline .timeline:nth-child(2n) .circle span:after, .main-timeline .timeline:nth-child(2n) .circle span:before {
  right: auto;
  left: -33px;
  border-radius: 0 0 21px
}

.main-timeline .timeline:nth-child(2n) .circle span:after {
  border-radius: 0 21px 0 0
}

.main-timeline .timeline:nth-child(2n) .content {
  padding: 0 0 0 40px;
  margin-left: 2px
}

.main-timeline .timeline:nth-child(2n) .icon {
  right: auto;
  left: -14px
}

.main-timeline .timeline:nth-child(2n) .icon span:after, .main-timeline .timeline:nth-child(2n) .icon span:before, .main-timeline .timeline:nth-child(2n) .icon:before {
  left: auto;
  right: -15px
}

.main-timeline .timeline:nth-child(2n) .icon span:before {
  border-radius: 0 0 0 21px
}

.main-timeline .timeline:nth-child(2n) .icon span:after {
  border-radius: 21px 0 0
}

.main-timeline .timeline:nth-child(2){
  margin-top: 180px
}

.main-timeline .timeline:nth-child(4) {
  margin-top: 100px
}

.main-timeline .timeline:nth-child(odd) {
  margin: -50px 0 0
}

.main-timeline .timeline:nth-child(even) {
  margin-bottom: 230px
}

.main-timeline .timeline:last-child {
  margin: -295px 0 0;
}

.main-timeline .timeline:first-child, .main-timeline .timeline:last-child:nth-child(even) {
  margin: 0
}

/*-----------------------------------------------------------------------------------*/
/*  Footer
/*-----------------------------------------------------------------------------------*/

#footer {
  background: #f7f7f7;
  padding-top: 50px;
  padding-bottom: 50px;
}

#footer .socials-media {
  width: 100%;
}

#footer .socials-media ul {
  display: inline-block;
  float: none;
  margin: 0 0 20px 0;
}

#footer .socials-media ul li {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

#footer .socials-media ul li a {
  font-size: 24px;
  color: #999;
  letter-spacing: 0.1em;
  font-weight: 500;
  background: transparent;
  text-transform: uppercase;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

#footer .socials-media ul li a:hover {
  color: #b8a07e;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

#footer p {
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: 500;
  margin-top: 0;
  text-transform: uppercase;
}

.credits {
  font-size: 13px;
}

/* 技能卡片的基本樣式 */
.skills-thumbnail {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  padding: 15px;
  transition: all 0.3s ease;
}

/* 滑鼠移上去時的效果 */
.skills-thumbnail:hover {
  background-color: #f8f9fa;
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* 預設隱藏詳細說明 */
.skill-detail {
  display: none;
  font-size: 12px;
  color: #666;
  margin-top: 10px;
  border-top: 1px solid #eee;
  padding-top: 5px;
}

/* 滑鼠移上去時顯示說明 */
.skills-thumbnail:hover .skill-detail {
  display: block;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* 標籤樣式 */
.skill-badge {
  font-size: 10px;
  padding: 2px 6px;
  border-radius: 4px;
  background: #b8a07e; /* 配合您的主題色 */
  color: white;
  vertical-align: middle;
  margin-left: 5px;
}